In [ ]:
import pandas as pd 
import sqlite3

In [ ]:
con=sqlite3.connect('db.sqlite3')

In [ ]:
data_query = "select id,PatientNumber, AgeBracket,Gender,DetectedState,DetectedCity,DetectedDistrict from model_coviddata"

In [ ]:
df = pd.read_sql_query(data_query,con)

In [ ]:
df

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10819 entries, 0 to 10818
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                10819 non-null  int64
 1   PatientNumber     10819 non-null  object
 2   AgeBracket        10819 non-null  object
 3   Gender            10819 non-null  object
 4   DetectedState     10819 non-null  object
 5   DetectedCity      10819 non-null  object
 6   DetectedDistrict  10819 non-null  object
dtypes: int64(1), object(6)
memory usage: 591.8+ KB

In [ ]:
dir(df)

In [78]:
df2=pd.DataFrame(df.groupby('DetectedCity'))

In [86]:
df.reindex(df['id'])

,id,PatientNumber,AgeBracket,Gender,DetectedState,DetectedCity,DetectedDistrict
id,,,,,,,
0,0,17307,48,M,Odisha,,Bhadrak
1,1,17308,55,M,Odisha,,Bhadrak
2,2,17309,57,M,Odisha,,Bhadrak
3,3,17310,58,M,Odisha,,Bhadrak
4,4,17311,66,M,Odisha,,Bhadrak
...,...,...,...,...,...,...,...
10814,10814,,,,Maharashtra,,
10815,10815,,,,Maharashtra,,Nagpur
10816,10816,,,,Maharashtra,,
10817,10817,,,,Maharashtra,,Nagpur
10818,10818,,,,Maharashtra,,

In [88]:
df2 = df[['PatientNumber','AgeBracket','Gender','DetectedState','De']]

In [97]:
df2.set_index(df['PatientNumber'],inplace=True)

In [117]:
df2.head()

              PatientNumber AgeBracket Gender DetectedState
PatientNumber
17307                 17307         48      M        Odisha
17308                 17308         55      M        Odisha
17309                 17309         57      M        Odisha
17310                 17310         58      M        Odisha
17311                 17311         66      M        Odisha

In [119]:
df2.tail()

              PatientNumber AgeBracket Gender DetectedState
PatientNumber
                                                Maharashtra
                                                Maharashtra
                                                Maharashtra
                                                Maharashtra
                                                Maharashtra

In [145]:
df1 = df.groupby('DetectedCity')

TypeError: string indices must be integers

In [142]:
dir(df1)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_aggregate_named',
 '_apply_filter',
 '_apply_to_column_groupbys',
 '_apply_whitelist',
 '_assure_grouper',
 '_bool_agg',
 '_builtin_table',
 '_concat_objects',
 '_constructor',
 '_cumcount_array',
 '_cython_agg_general',
 '_cython_table',
 '_cython_transform',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_type',
 '_fill',
 '_get_cython_func',
 '_get_cythonized_result',
 '_get_index',
 '_get_indices',
 '_gotitem',
 '_group_selection',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_iterate_slices',
 '_make_wrapper',
 '_obj_with_exclusions',
 '_python_agg_general',
 '_python_apply_general',
 '_reindex_output',
 '_reset_cache',
 '_reset_group_selection',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_group_selection',
 '_set_result_index_ordered',
 '_transform_fast',
 '_transform_general',
 '_transform_should_cast',
 '_try_aggregate_string_function',
 '_try_cast',
 '_wrap_aggregated_output',
 '_wrap_applied_output',
 '_wrap_series_output',
 '_wrap_transformed_output',
 'agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'backfill',
 'bfill',
 'corr',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dtype',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'get_group',
 'groups',
 'head',
 'hist',
 'idxmax',
 'idxmin',
 'indices',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'last',
 'mad',
 'max',
 'mean',
 'median',
 'min',
 'ndim',
 'ngroup',
 'ngroups',
 'nlargest',
 'nsmallest',
 'nth',
 'nunique',
 'ohlc',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'prod',
 'quantile',
 'rank',
 'resample',
 'rolling',
 'sem',
 'shift',
 'size',
 'skew',
 'std',
 'str',
 'sum',
 'tail',
 'take',
 'transform',
 'tshift',
 'unique',
 'value_counts',
 'var']